* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #5945a7;
}

.BoxFilmes {
  width: 80%;
  max-width: 1200px;
  background-color: #2f2e33;
  padding: 40px 50px;
  margin: 10px auto;
  border-radius: 20px;
}

.BoxFilmes h2 {
  text-align: center;
  color: #8869ff;
  margin-bottom: 40px;
}

.filmesGrid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.filmeCard {
  background-color: #8869ff;
  border-radius: 20px;
  padding: 10px;
}

.filmeCard img {
  width: 100%;
  height: auto;
  border-radius: 20px;
  margin-bottom: 15px;
}

form {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

form input {
  padding: 10px;
  border: 1px solid #8869ff;
  border-radius: 10px;
  flex: 1;
  background-color: #2f2e33;
  color: #8869ff;
}

form button {
  padding: 10px 15px;
  background-color: #2f2e33;
  color: #8869ff;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}

form button:hover {
  background-color: #5945a7;
}

.filmeCard p {
  font-size: 20px;
  font-weight: 500;
  padding: 5px 0;
  color: #2f2e33;
}

.filmeCard h3 {
  font-size: 22px;
  font-weight: 700;
  padding: 5px 0;
  color: #2f2e33;
}